.header-container{
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
  

}

.header-container img{
     margin-left: 100px;
}
.header-menu{
    margin-right: 64px;
}
.header-container a{
    text-decoration: none;
    margin-left: 25px;
    color: white;
}
.header-container a:hover{
    color: orange;
}
